body {
    font-family: 'Big Caslon', 'Book Antiqua', Palatino, serif;
    background-color: #ded7c8;
    color: #9b716b;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
.page-title {
    font-size: 1.5em; /* Make the text larger */
    color: #444c3a; /* Set the text color */
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below the title */
}
#app {
    width: 100%;
    max-width: 1200px;
    background-color: rgb(240, 216, 181);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.282);
    padding: 60px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    height: 100vh;
    color: #9b716b */
}

#user-input {
    width: 100%;
    padding: 10px;
    font-family: 'Big Caslon', 'Book Antiqua', Palatino, serif;
    font-size: 12px;
    border: 3px solid #9b716b6d;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
  }

    #user-input:focus {
        border: 3px solid #9b716b;
    }

    #user-input::placeholder {
        color: #9b716b;
    }
    
#send-button {
     width: 20%;
     padding: 10px;
     font-family: 'Big Caslon', 'Book Antiqua', Palatino, serif;
     font-size: 12px;
     color: #f0ebd7;
     background-color: #7ba0c0;
     border: none;
     border-radius: 4px;
     margin-bottom: 10px;
     cursor: pointer;
     transition: background-color 0.3s;
}
#send-button:hover {
    background-color: #345e8b;
  }
  
#chat-container {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
  }
  .message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 80%;
    clear: both;
  }  
  .user-message {
    background-color: #9caa92;
    color: #fff;
    float: center;
    }

.message.chatGPT {
    background-color: #9caa92;
    color: #333;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    }
    .message {
        transition: background-color 0.3s, transform 0.3s;
      }
      .message:hover {
        transform: scale(1.02);
      }